# Copyright 2013-2024 Axel Huebl, Rene Widera, Felix Schmitt, Franz Poeschel,
#                     Hannes Tropegen, Brian Marre, Masoud Afshari
#
# This file is part of PIConGPU.
#
# PIConGPU is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# PIConGPU is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with PIConGPU.
# If not, see <http://www.gnu.org/licenses/>.
#

##
## This configuration file is used by PIConGPU's TBG tool to create a
## batch script for PIConGPU runs. For a detailed description of PIConGPU
## configuration files including all available variables, see
##
##                      docs/TBG_macros.cfg
##

# enable unbound variable safeguard
# see `set --help` for explanation on shell flags
# here used: u (`set -u`) which make the shell crash on undefined variables
#
# This defines a command to be executed after this script which restores
# the shell option "u" to its previous state
if [[ "$-" =~ ^.*u.*$ ]]
then
    SHELL_OPT_U_RESTORE='set -u'
else
    SHELL_OPT_U_RESTORE='set +u'
fi

set -u
# -> unbound vars will now raise error


#################################
## Section: Required Variables ##
#################################

TBG_wallTime="{{{walltime.walltime}}}"

{{#grid.gpu_cnt}}
  TBG_devices_x={{{x}}}
  TBG_devices_y={{{y}}}
  TBG_devices_z={{{z}}}
{{/grid.gpu_cnt}}

{{#grid.cell_cnt}}
  TBG_gridSize="{{{x}}} {{{y}}} {{{z}}}"
{{/grid.cell_cnt}}

{{#grid.grid_dist}}
TBG_gridDist="--gridDist '{{#x}}{{{device_cells}}}{{^_last}},{{/_last}}{{/x}}' '{{#y}}{{{device_cells}}}{{^_last}},{{/_last}}{{/y}}' '{{#z}}{{{device_cells}}}{{^_last}},{{/_last}}{{/z}}'"
{{/grid.grid_dist}}

TBG_steps="{{{time_steps}}}"

#################################
## Section: Optional Variables ##
#################################

{{#grid.boundary_condition}}
  TBG_periodic="--periodic {{{x}}} {{{y}}} {{{z}}}"
{{/grid.boundary_condition}}

{{#moving_window}}
  TBG_movingWindow="-m"
  TBG_windowMovePoint="--windowMovePoint {{{move_point}}}"
  {{#stop_iteration}}
    TBG_stopWindow="--stopWindow {{{stop_iteration}}}"
  {{/stop_iteration}}
{{/moving_window}}

{{#binomial_current_interpolation}}
TBG_currentInterpolation="--currentInterpolation binomial"
{{/binomial_current_interpolation}}
{{^binomial_current_interpolation}}
TBG_currentInterpolation="--currentInterpolation none"
{{/binomial_current_interpolation}}

pypicongpu_output_with_newlines="
  {{#output}}

    {{#type_phasespace}}
          --{{{species.species_name}}}_phaseSpace.period {{#period.specs}}{{{start}}}:{{{stop}}}:{{{step}}}{{^_last}},{{/_last}}{{/period.specs}}
          --{{{species.species_name}}}_phaseSpace.filter {{{species.filter_name}}}
          --{{{species.species_name}}}_phaseSpace.space {{{spatial_coordinate}}}
          --{{{species.species_name}}}_phaseSpace.momentum {{{momentum_coordinate}}}
          --{{{species.species_name}}}_phaseSpace.min {{{min_momentum}}}
          --{{{species.species_name}}}_phaseSpace.max {{{max_momentum}}}
    {{/type_phasespace}}

    {{#type_energyhistogram}}
          --{{{species.species_name}}}_energyHistogram.period {{#period.specs}}{{{start}}}:{{{stop}}}:{{{step}}}{{^_last}},{{/_last}}{{/period.specs}}
          --{{{species.species_name}}}_energyHistogram.filter {{{species.filter_name}}}
          --{{{species.species_name}}}_energyHistogram.binCount {{{bin_count}}}
          --{{{species.species_name}}}_energyHistogram.minEnergy {{{min_energy}}}
          --{{{species.species_name}}}_energyHistogram.maxEnergy {{{max_energy}}}
    {{/type_energyhistogram}}

    {{#type_macroparticlecount}}
      --{{{species.species_name}}}_macroParticlesCount.period {{#period.specs}}{{{start}}}:{{{stop}}}:{{{step}}}{{^_last}},{{/_last}}{{/period.specs}}
    {{/type_macroparticlecount}}

    {{#type_radiation}}
    {{#species}}
    {{#config}}
          --{{{name}}}_radiation.period {{#period.specs}}{{{start}}}:{{{stop}}}:{{{step}}}{{^_last}},{{/_last}}{{/period.specs}}
          --{{{name}}}_radiation.dump {{{num_accumulation_steps}}}
           {{#last_radiation}}
          --{{{name}}}_radiation.lastRadiation
          --{{{name}}}_radiation.folderLastRad {{{folder_last_rad}}}
           {{/last_radiation}}
           {{#total_radiation}}
          --{{{name}}}_radiation.totalRadiation
          --{{{name}}}_radiation.folderTotalRad {{{folder_total_rad}}}
           {{/total_radiation}}
          --{{{name}}}_radiation.start {{{start}}}
          --{{{name}}}_radiation.end {{{end}}}
           {{#rad_per_gpu}}
          --{{{name}}}_radiation.radPerGPU
          --{{{name}}}_radiation.folderRadPerGPU {{{folder_rad_per_gpu}}}
           {{/rad_per_gpu}}
          --{{{name}}}_radiation.numJobs {{{num_jobs}}}
          --{{{name}}}_radiation.openPMDSuffix {{{open_pmd_suffix}}}
          --{{{name}}}_radiation.openPMDCheckpointExtension {{{open_pmd_checkpoint_extension}}}
          --{{{name}}}_radiation.openPMDConfig {{{open_pmd_config}}}
          --{{{name}}}_radiation.openPMDCheckpointConfig {{{open_pmd_checkpoint_config}}}
           {{#distributed_amplitude}}
          --{{{name}}}_radiation.distributedAmplitude
           {{/distributed_amplitude}}
    {{/config}}
    {{/species}}
    {{/type_radiation}}

{{#type_checkpoint}}
{{#period}}--checkpoint.period {{#period.specs}}{{{start}}}:{{{stop}}}:{{{step}}}{{^_last}},{{/_last}}{{/period.specs}}
{{/period}}
{{#timePeriod}}--checkpoint.timePeriod {{{timePeriod}}}
{{/timePeriod}}
{{#directory}}--checkpoint.directory {{{directory}}}
{{/directory}}
{{#file}}--checkpoint.file {{{file}}}
{{/file}}
{{#restart}}--checkpoint.restart {{{restart}}}
{{/restart}}
{{#tryRestart}}--checkpoint.tryRestart {{{tryRestart}}}
{{/tryRestart}}
{{#restartStep}}--checkpoint.restart.step {{{restartStep}}}
{{/restartStep}}
{{#restartDirectory}}--checkpoint.restart.directory {{{restartDirectory}}}
{{/restartDirectory}}
{{#restartFile}}--checkpoint.restart.file {{{restartFile}}}
{{/restartFile}}
{{#restartChunkSize}}--checkpoint.restart.chunkSize {{{restartChunkSize}}}
{{/restartChunkSize}}
{{#restartLoop}}--checkpoint.restart.loop {{{restartLoop}}}
{{/restartLoop}}
{{#openPMD}}
  {{#openPMD.ext}}--checkpoint.openPMD.ext {{{openPMD.ext}}}
  {{/openPMD.ext}}
  {{#openPMD.json}}--checkpoint.openPMD.json {{{openPMD.json}}}
  {{/openPMD.json}}
  {{#openPMD.backendConfig}}--checkpoint.openPMD.backendConfig {{{openPMD.backendConfig}}}
  {{/openPMD.backendConfig}}
  {{#openPMD.infix}}--checkpoint.openPMD.infix {{{openPMD.infix}}}
  {{/openPMD.infix}}
  {{#openPMD.dataPreparationStrategy}}--checkpoint.openPMD.dataPreparationStrategy {{{openPMD.dataPreparationStrategy}}}
  {{/openPMD.dataPreparationStrategy}}
  {{#openPMD.jsonRestart}}--checkpoint.openPMD.jsonRestart {{{openPMD.jsonRestart}}}
  {{/openPMD.jsonRestart}}
  {{#openPMD.backendConfigRestart}}--checkpoint.openPMD.backendConfigRestart {{{openPMD.backendConfigRestart}}}
  {{/openPMD.backendConfigRestart}}
  {{#openPMD.toml}}--checkpoint.openPMD.toml {{{openPMD.toml}}}
  {{/openPMD.toml}}
  {{#openPMD.pluginConfig}}--checkpoint.openPMD.pluginConfig {{{openPMD.pluginConfig}}}
  {{/openPMD.pluginConfig}}
  {{#openPMD.particleIOChunkSize}}--checkpoint.openPMD.particleIOChunkSize {{{openPMD.particleIOChunkSize}}}
  {{/openPMD.particleIOChunkSize}}
{{/openPMD}}
{{/type_checkpoint}}

{{#type_openPMD}}
--openPMD.pluginConfig {{{config_filename}}}
{{/type_openPMD}}

  {{/output}}
"

# remove newlines
TBG_pypicongpu_output=$(sed -z 's/\n/ /g' <<< "$pypicongpu_output_with_newlines")

TBG_plugins="!TBG_pypicongpu_output"



#################################
## Section: Program Parameters ##
#################################

TBG_deviceDist="!TBG_devices_x !TBG_devices_y !TBG_devices_z"

TBG_programParams="-d !TBG_deviceDist   \
                   -g !TBG_gridSize     \
                   -s !TBG_steps        \
                   {{#grid.grid_dist}}
                    !TBG_gridDist       \
                   {{/grid.grid_dist}}
                   !TBG_periodic        \
           !TBG_currentInterpolation   \
                   !TBG_plugins         \
                   {{#moving_window}}
                    !TBG_movingWindow    \
                    !TBG_windowMovePoint \
                    {{#stop_iteration}}
                     !TBG_stopWindow      \
                    {{/stop_iteration}}
                   {{/moving_window}}
                   --versionOnce"

# TOTAL number of devices
TBG_tasks="$(( TBG_devices_x * TBG_devices_y * TBG_devices_z ))"

# restore shell opt u to previous state
$SHELL_OPT_U_RESTORE

if [ -z $PICONGPU_RUNNING_AS_CWL ]; then
  "$TBG_cfgPath"/submitAction.sh
fi

# picmi specific input copy (outside of submitAction.sh)
if [ -f $TBG_projectPath/metadata/pypicongpu_rendering_context.json ]
then
    cp $TBG_projectPath/metadata/pypicongpu_rendering_context.json $TBG_dstPath/input/metadata.json
else
    echo "Could not find metadata/pypicongpu_rendering_context.json" >&2
fi
