# tmp files
*~

# Compiled Object files
*.slo
*.lo
*.o
/build

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# netbeans project files
/nbproject/

# Code::Blocks project files
/*.cbp
/*.layout

# Visual Studio Code configuration files
.vscode
.vs

# JetBrains project files
.idea/

# original backup files
*.orig

.cache
compile_commands.json
