# tmp files
*~

# netbeans project files
/nbproject/

# Code::Blocks project files
/*.cbp
/*.layout

# python byte code
*.pyc

# original backup files
*.orig

# doxygen output
doc/xml/
doc/doxygen_sqlite3.db
# sphinx & breathe output
doc/build/
