# tmp files
*~

# netbeans project files
/nbproject/

# Code::Blocks project files
/*.cbp
/*.layout

# Visual Studio Code configuration files
.vscode

# python byte code
*.pyc

# original backup files
*.orig

# doxygen output
docs/xml/
docs/doxygen_sqlite3.db
# sphinx & breathe output
docs/build/

# generated docs output
docs/source/models/field_ionization_comparison_c_ii_ionization.svg
docs/source/models/field_ionization_effective_potentials.svg
