#
# SPDX-FileCopyrightText: Rene Widera
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

# variables which are created by tbg
# TBG_jobName
# TBG_jobNameShort
# TBG_cfgPath
# TBG_cfgFile
# TBG_projectPath
# TBG_dstPath


TBG_devices_x=2
TBG_devices_y=2


TBG_programParams="-d !TBG_devices_x !TBG_devices_y -g 256 256 -s 200 --periodic 1 1  -r 23/3"

TBG_PROGRAM="./gameOfLife !TBG_programParams"

## copy binary and submit folder to destination folder
cd $TBG_dstPath
cp -r $TBG_projectPath/bin .
cp -r $TBG_projectPath/submit .


# TOTAL number of GPUs
TBG_tasks="$(( TBG_devices_x * TBG_devices_y ))"
