/* Copyright 2019-2024 Rene Widera, Pawel Ordyna
 *
 * This file is part of PIConGPU.
 *
 * PIConGPU is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PIConGPU is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PIConGPU.
 * If not, see <http://www.gnu.org/licenses/>.
 */

#pragma once

#include "picongpu/param/particleFilters.param"
#include "picongpu/particles/collision/collision.def"
#include "picongpu/plugins/misc/SpeciesFilter.hpp"

#include <pmacc/meta/conversion/MakeSeq.hpp>


#ifndef PARAM_DYNAMIC_LOG
#    define PARAM_DYNAMIC_LOG 0
#endif

namespace picongpu
{
    namespace particles
    {
        namespace collision
        {
            namespace precision
            {
                using float_COLL = float_{{{collisional_physics.numerics_config.precision}}};
            } // namespace precision

            using namespace picongpu::plugins;

            using CollisionScreeningSpecies = MakeSeq_t<
            {{#collisional_physics.screening_species}}
            {{#type_filtered}}
                picongpu::plugins::misc::SpeciesFilter<{{{species.typename}}}, picongpu::particles::filter::{{{filter_name}}}>,
            {{/type_filtered}}
            {{^type_filtered}}
                {{{typename}}},
            {{/type_filtered}}
            {{/collisional_physics.screening_species}}
            MakeSeq_t<>
                >;
            constexpr bool debugScreeningLength =
            {{#collisional_physics.numerics_config.debug_screening_length}}
              true
            {{/collisional_physics.numerics_config.debug_screening_length}}
            {{^collisional_physics.numerics_config.debug_screening_length}}
              false
            {{/collisional_physics.numerics_config.debug_screening_length}}
            ;

{{#collisional_physics.collisions}}
            {{#functor.type_constlog}}
            struct CollisionParams_{{{_idx}}}
            {
                static constexpr float_X coulombLog = {{{functor.coulomb_log}}}_X;
            };
            using ColliderFunctor_{{{_idx}}} = relativistic::RelativisticCollisionConstLog<CollisionParams_{{{_idx}}}, false>;
            {{/functor.type_constlog}}

            {{#functor.type_dynamiclog}}
            using ColliderFunctor_{{{_idx}}} = relativistic::RelativisticCollisionDynamicLog<false>;
            {{/functor.type_dynamiclog}}
{{/collisional_physics.collisions}}

            /** CollisionPipeline defines in which order species interact with each other
             *
             * the functors are called in order (from first to last functor)
             */
            using CollisionPipeline = MakeSeq_t<
{{#collisional_physics.collisions}}
                Collider<
                    ColliderFunctor_{{{_idx}}},
                    MakeSeq_t<
                       {{#species_pairs}}
                       Pair<{{{species_lhs.typename}}},{{{species_rhs.typename}}}>,
                       {{/species_pairs}}
                       MakeSeq_t<>
                    >
                    {{#has_filters}}
                    ,
                    {{#species_pairs}}
                    FilterPair<
                      picongpu::particles::filter::{{{species_lhs.filter_typename}}},
                      picongpu::particles::filter::{{{species_rhs.filter_typename}}}
                    >
                    {{/species_pairs}}
                    {{/has_filters}}
                >,
{{/collisional_physics.collisions}}
                MakeSeq_t<>
            >;

            /** Chunk size used for cell list allocations.
             *
             * To reduce the fragmentation of the heap memory on accelerators the collision algorithm is allocating a
             * multiple of this value to store a cell list of particle IDs. The value must be non zero.
             */
            constexpr uint32_t cellListChunkSize =
            {{#collisional_physics.numerics_config.cell_list_chunk_size}}
              {{{collisional_physics.numerics_config.cell_list_chunk_size}}}
            {{/collisional_physics.numerics_config.cell_list_chunk_size}}
            {{^collisional_physics.numerics_config.cell_list_chunk_size}}
              std::min(TYPICAL_PARTICLES_PER_CELL, 4u)
            {{/collisional_physics.numerics_config.cell_list_chunk_size}}
            ;
        } // namespace collision
    } // namespace particles
} // namespace picongpu
