/* Copyright 2013-2025 Axel Huebl, Heiko Burau, Rene Widera, Felix Schmitt,
 *                     Richard Pausch, Marco Garten, Brian Marre, Kristin Tippey
 *                     Hannes Troepgen, Masoud Afshari, Julian Lenz
 *
 * This file is part of PIConGPU.
 *
 * PIConGPU is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PIConGPU is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PIConGPU.
 * If not, see <http://www.gnu.org/licenses/>.
 */

 #pragma once

#include "picongpu/particles/densityProfiles/profiles.def"
#include "picongpu/particles/traits/GetDensityRatio.hpp"

namespace picongpu
{
    namespace densityProfiles::pypicongpu
    {
        {{#init_operations}}{{#typeID.simpledensity}}{{#data}}
        // a species has always only exactly one profile, so only one of the following blocks below will be present

            {{#profile.typeID.gaussian}}
            /** generate the initial macroparticle position for species "{{{placed_species_initial.name}}}" ({{{placed_species_initial.typename}}})
             *
             * @note the density may be further modified from this profile by the densityRatio of the species, set in
             *  the init-pipeline.
             */
            struct init_{{{placed_species_initial.typename}}}_GaussianParam
            {
                static constexpr float_X gasFactor = {{{profile.data.gas_factor}}};
                static constexpr float_X gasPower  = {{{profile.data.gas_power}}};

                    //! height of vacuum area on top border, unit: cells
                    static constexpr uint32_t vacuumCellsY = {{{profile.data.vacuum_cells_front}}};

                    //! The edges of the constant center of the profile, unit: meter
                    static constexpr float_64 gasCenterLeft_SI  = {{{profile.data.gas_center_front}}};
                    static constexpr float_64 gasCenterRight_SI = {{{profile.data.gas_center_rear}}};

                    /** the distance from gasCenter_SI until the gas density decreases to its 1/e-th part
                     *  unit: meter
                     */
                    static constexpr float_64 gasSigmaLeft_SI  = {{{profile.data.gas_sigma_front}}};
                    static constexpr float_64 gasSigmaRight_SI = {{{profile.data.gas_sigma_rear}}};

                    //! factor to multiply BASE_DENSITY_SI by to get density
                    static constexpr float_X densityFactor
                        = static_cast<float_X>({{{profile.data.density}}} / SI::BASE_DENSITY_SI);
                };

            using init_{{{placed_species_initial.typename}}} = GaussianImpl<init_{{{placed_species_initial.typename}}}_GaussianParam>;
            {{/profile.typeID.gaussian}}

            {{#profile.typeID.uniform}}
            /** generate the initial macroparticle position for species "{{{placed_species_initial.name}}}" ({{{placed_species_initial.typename}}})
             *
             * @note the density may be further modified from this profile by the densityRatio of the species set in the
             *  init-pipeline.
             */
            struct init_{{{placed_species_initial.typename}}}_functor
            {
                /** generate the initial macroparticle position for species "{{{placed_species_initial.name}}}" ({{{placed_species_initial.typename}}})
                 *
                 * @note the density may be further modified from this profile by the densityRatio of the species, set in
                 *  the init-pipeline.
                 */
                HDINLINE float_X operator()(const floatD_64& position_SI, const float3_64& cellSize_SI)
                {
                    //! @todo respect bounding box, Brian Marre, 2023
                    return static_cast<float_X>({{{profile.data.density_si}}} / SI::BASE_DENSITY_SI);
                }
            };
            using init_{{{placed_species_initial.typename}}} = FreeFormulaImpl<init_{{{placed_species_initial.typename}}}_functor>;
            {{/profile.typeID.uniform}}

            {{#profile.typeID.foil}}
            /** generate the initial macroparticle position for species "{{{placed_species_initial.name}}}" ({{{placed_species_initial.typename}}})
             *
             * @note the density may be further modified from this profile by the densityRatio of the species, set in
             *  the init-pipeline.
             */
            struct init_{{{placed_species_initial.typename}}}_functor
            {
                HDINLINE float_X operator()(const floatD_64& position_SI, const float3_64& cellSize_SI)
                {
                    //! @todo respect bounding box, Brian Marre, 2023
                    float_64 const y = position_SI.y(); // m
                    float_X dens = 0._X; // in units of BASE_DENSITY_SI

                        // begin & end plateau of foil
                        constexpr float_64 y0 = {{{profile.data.y_value_front_foil_si}}};
                        constexpr float_64 y1 = y0 + {{{profile.data.thickness_foil_si}}};

                    // prePlasma ramp
                    {{#profile.data.pre_foil_plasmaRamp.typeID.exponential}}
                        // exponential pre-expanded density ramp before plateau of foil
                        constexpr float_64 prePlasmaLength = {{{profile.data.pre_foil_plasmaRamp.data.PlasmaLength}}};
                        constexpr float_64 prePlasmaCutoff = {{{profile.data.pre_foil_plasmaRamp.data.PlasmaCutoff}}};

                        // prefoil upramp
                        if((y < y0) &&  y > y0 - prePlasmaCutoff)
                            dens = static_cast<float_X>({{{profile.data.density_si}}} / SI::BASE_DENSITY_SI)
                                * math::exp((y - y0) / prePlasmaLength);
                    {{/profile.data.pre_foil_plasmaRamp.typeID.exponential}}

                    {{#profile.data.pre_foil_plasmaRamp.typeID.none}}
                        // no prePlasma ramp
                    {{/profile.data.pre_foil_plasmaRamp.typeID.none}}

                    // postPlasma ramp
                    {{#profile.data.post_foil_plasmaRamp.typeID.exponential}}
                        // exponential pre-expanded density ramp after plateau of foil
                        constexpr float_64 postPlasmaLength = {{{profile.data.post_foil_plasmaRamp.data.PlasmaLength}}};
                        constexpr float_64 postPlasmaCutoff = {{{profile.data.post_foil_plasmaRamp.data.PlasmaCutoff}}};
                    // postfoil downramp
                        if(y > y1 && y < y1 + postPlasmaCutoff)
                            dens = static_cast<float_X>({{{profile.data.density_si}}} / SI::BASE_DENSITY_SI)
                                * math::exp((y1 - y) / postPlasmaLength);
                    {{/profile.data.post_foil_plasmaRamp.typeID.exponential}}

                    {{#profile.data.post_foil_plasmaRamp.typeID.none}}
                        // no postPlasma ramp
                    {{/profile.data.post_foil_plasmaRamp.typeID.none}}

                        // foil plateau
                        if(y >= y0 && y <= y1)
                            dens = static_cast<float_X>({{{profile.data.density_si}}} / SI::BASE_DENSITY_SI);

                    // safety check: all parts of the function MUST be > 0
                    dens *= float_64(dens >= 0.0);
                    return dens;
                }
            };
            using init_{{{placed_species_initial.typename}}} = FreeFormulaImpl<init_{{{placed_species_initial.typename}}}_functor>;
            {{/profile.typeID.foil}}

            {{#profile.typeID.cylinder}}
            struct init_{{{placed_species_initial.typename}}}_CylindricalParam
            {
                static constexpr float3_64  centerPosition_SI{
                    {{{profile.data.center_position_si.0.component}}},
                    {{{profile.data.center_position_si.1.component}}},
                    {{{profile.data.center_position_si.2.component}}}
                };
                static constexpr float3_X jetAxis{
                    {{{profile.data.cylinder_axis.0.component}}}_X,
                    {{{profile.data.cylinder_axis.1.component}}}_X,
                    {{{profile.data.cylinder_axis.2.component}}}_X
                };
                static constexpr float_64 radius_SI = {{{profile.data.radius_si}}};
                static constexpr float_X densityFactor
                        = static_cast<float_X>({{{profile.data.density_si}}} / SI::BASE_DENSITY_SI);

                // Preplasma:
                {{#profile.data.pre_plasma_ramp.typeID.exponential}}
                static constexpr float_64 prePlasmaLength_SI = {{{profile.data.pre_plasma_ramp.data.PlasmaLength}}};
                static constexpr float_64 prePlasmaCutoff_SI = {{{profile.data.pre_plasma_ramp.data.PlasmaCutoff}}};
                {{/profile.data.pre_plasma_ramp.typeID.exponential}};

                {{#profile.data.pre_plasma_ramp.typeID.none}}
                static constexpr float_64 prePlasmaLength_SI = 0.0;
                static constexpr float_64 prePlasmaCutoff_SI = 0.0;
                {{/profile.data.pre_plasma_ramp.typeID.none}}
            };
            using init_{{{placed_species_initial.typename}}} = CylindricalImpl<init_{{{placed_species_initial.typename}}}_CylindricalParam>;
            {{/profile.typeID.cylinder}}

            {{#profile.typeID.freeformula}}
            struct init_{{{placed_species_initial.typename}}}_functor
            {
                /** This formula uses SI quantities only
                 *
                 * The profile will be multiplied by BASE_DENSITY.
                 *
                 * @param position_SI total offset including all slides [in meter]
                 * @param cellSize_SI cell sizes [in meter]
                 *
                 * @return float_X density [normalized to 1.0]
                 */
                HDINLINE float_X operator()(const floatD_64& position_SI, const float3_64& cellSize_SI)
                {
                  const auto [x, y, z] = position_SI;

                  return ({{{profile.data.function_body}}}) / SI::BASE_DENSITY_SI;
                }
            };
            using init_{{{placed_species_initial.typename}}} = FreeFormulaImpl<init_{{{placed_species_initial.typename}}}_functor>;
            {{/profile.typeID.freeformula}}

{{/data}}{{/typeID.simpledensity}}{{/init_operations}}
    } // namespace densityProfiles::pypicongpu
} // namespace picongpu
