/* Copyright 2013-2024 Axel Huebl, Rene Widera, Felix Schmitt,
 *                     Benjamin Worpitz, Richard Pausch, Pawel Ordyna
 *
 * This file is part of PIConGPU.
 *
 * PIConGPU is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PIConGPU is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PIConGPU.
 * If not, see <http://www.gnu.org/licenses/>.
 */

#pragma once

#include <pmacc/meta/conversion/MakeSeq.hpp>

/* some forward declarations we need */
#include "picongpu/fields/Fields.def"
#include "picongpu/particles/filter/filter.def"
#include "picongpu/particles/particleToGrid/CombinedDerive.def"
#include "picongpu/particles/particleToGrid/ComputeGridValuePerFrame.def"

namespace picongpu
{
    namespace deriveField = particles::particleToGrid;

    namespace particles::particleToGrid::derivedAttributes {
{{#derived_field_functors}}

    struct {{{typename}}} {
         HDINLINE float1_64 getUnit() const
         {
             return 1.;
         }

         HINLINE std::vector<float_64> getUnitDimension() const
         {
             std::vector<float_64> unitDimension(7, 0.0);
             return unitDimension;
         }

         HINLINE static std::string getName()
         {
             return "{{{name}}}";
         }

         template<class T_Particle>
         DINLINE {{{return_type}}} operator()(T_Particle& particle) const
         {
              {{#functor_preamble}}
              {{{statement}}}
              {{/functor_preamble}}
              return {{{functor_expression}}};
         }

    };

    template<>
    struct IsWeighted<{{{typename}}}> : std::true_type {};
{{/derived_field_functors}}
    }

    template<typename T_Species, typename T_Attribute, typename T_Filter>
    struct FieldTmpSolverConfig
    {
        using Species = T_Species;
        using Attribute = T_Attribute;
        using Filter = T_Filter;
    };

    using FieldTmpSolverConfigs = MakeSeq_t<
    {{#field_tmp_solvers}}
      FieldTmpSolverConfig<
          {{{species}}},
          {{{attribute_type}}},
          {{{filter_type}}}
      >{{^_last}},{{/_last}}
    {{/field_tmp_solvers}}
    >;

    template<typename T_Config>
    struct ValidateFieldTmpSolver
    {
        static_assert(
            particles::traits::SpeciesEligibleForSolver<
                typename T_Config::Species,
                deriveField::FilteredDerivedAttribute<
                    typename T_Config::Attribute,
                    typename T_Config::Filter
                >
            >::type::value,
            "Derived-field solver is not supported for this species"
        );

        using type = deriveField::CreateFieldTmpOperation_t<
            typename T_Config::Species,
            typename T_Config::Attribute,
            typename T_Config::Filter
        >;
    };

    template<typename T_Config>
    using ValidateFieldTmpSolver_t = typename ValidateFieldTmpSolver<T_Config>::type;

    // mp_transform instantiates the validator, including its individual static_assert, for every configuration.
    using FieldTmpSolvers = pmacc::mp_transform<ValidateFieldTmpSolver_t, FieldTmpSolverConfigs>;


    using NativeFileOutputFields = MakeSeq_t<FieldE, FieldB, FieldJ>;
    using FileOutputFields = MakeSeq_t<NativeFileOutputFields, FieldTmpSolvers>;
    using FileOutputParticles = VectorAllSpecies;
} // namespace picongpu
