/* Copyright 2013-2024 Heiko Burau, Rene Widera, Richard Pausch
 *
 * This file is part of PIConGPU.
 *
 * PIConGPU is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PIConGPU is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PIConGPU.
 * If not, see <http://www.gnu.org/licenses/>.
 */

/** @file
 *
 * This file defines a function describing the observation directions.
 * It takes an integer index from [ 0, picongpu::parameters::N_observer )
 * and maps it to a 3D unit vector in R^3 (norm=1) space that describes
 * the observation direction in the PIConGPU cartesian coordinate system.
 */

#pragma once

#include "picongpu/plugins/radiation/VectorTypes.hpp"

namespace picongpu
{
    namespace plugins
    {
        namespace radiation
        {
            namespace radiation_observer
            {
              {{#output}}
              {{#typeID.radiation}}
              {{#data.config.observer}}
                HDINLINE vector_64 observationDirection(int const index)
                {
                return vector_64({{#component_expressions}}{{{x}}},{{{y}}},{{{z}}}{{/component_expressions}});
                }
            {{/data.config.observer}}
            {{/typeID.radiation}}
            {{/output}}
            } // namespace radiation_observer
        } // namespace radiation
    } // namespace plugins
} // namespace picongpu
