/*
 * SPDX-FileCopyrightText: Rene Widera, Benjamin Worpitz, Heiko Burau, Hannes Troepgen
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#pragma once

#include "picongpu/particles/InitFunctors.hpp"

#include <picongpu/param/particle.param>
#include <picongpu/pypicongpu/util.hpp>

namespace picongpu
{
    namespace particles
    {
        /** InitPipeline define in which order species are initialized
         *
         * the functors are called in order (from first to last functor)
         */
        {{! note: this serves to enter the context -- it is NOT a loop }}
        using InitPipeline = pmacc::mp_list<
            /* note to the editors of this file:
             *
             * Sometimes it is not possible to split the initialization separate "creation" and "manipulation" phases,
             * because some init pipeline operations mix the two phases.
             *
             * Hence, consider removing these explicit "phase 1/2" comments when editing the init pipeline by hand.
             */

            /**********************************/
            /* phase 1: create macroparticles */
            /**********************************/
{{#init_operations}}{{#type_simpledensity}}
                /// @details This functor assumes the ratio to be 1. The correct density ratio of the species is applied
                /// here (automatically by CreateDensity).

                CreateDensity<
                    densityProfiles::pypicongpu::init_{{{placed_species_initial.typename}}},
                    startPosition::pypicongpu::init_{{{placed_species_initial.typename}}},
                    {{{placed_species_initial.typename}}}>,

                {{#placed_species_copied}}
                    ManipulateDerive<
                        manipulators::binary::DensityWeighting,
                        {{{placed_species_initial.typename}}},
                        {{{typename}}}>,
                {{/placed_species_copied}}
{{/type_simpledensity}}{{/init_operations}}

            /*********************************************/
            /* phase 2: adjust other attributes (if any) */
            /*********************************************/

{{#init_operations}}{{#type_simplemomentum}}
                {{! simple momentum adds a temperature & drift without inter-species dependencies }}
                {{#drift}}
                    // *sets* drift, i.e. overwrites momentum
                    Manipulate<manipulators::pypicongpu::AssignDrift_{{{species.typename}}}, {{{species.typename}}}>,
                {{/drift}}
                {{#temperature}}
                    // *adds* temperature, does *NOT* overwrite
                    Manipulate<manipulators::pypicongpu::AddTemperature_{{{species.typename}}}, {{{species.typename}}}>,
                {{/temperature}}
{{/type_simplemomentum}}{{/init_operations}}

{{#init_operations}}{{#type_setchargestate}}
                Manipulate<manipulators::pypicongpu::PreIonize_{{{species.typename}}}, {{{species.typename}}}>,
{{/type_setchargestate}}{{/init_operations}}

            // does nothing -- exists to catch trailing comma left by code generation
            pypicongpu::nop>;

    } // namespace particles
} // namespace picongpu
