/* Copyright 2024-2026 Filip Optolowicz, Julian Lenz
 *
 * This file is part of PIConGPU.
 *
 * PIConGPU is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PIConGPU is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PIConGPU.
 * If not, see <http://www.gnu.org/licenses/>.
 */

/** @file
 * This file contains parameters for synchrotron extension
 */

#pragma once

namespace picongpu
{
    namespace particles
    {
        namespace synchrotron
        {
            namespace params
            {
              {{#synchrotron_params}}
                //! Turn off or turn on the electron recoil from electrons generated.
                constexpr bool ElectronRecoil = {{#electron_recoil}}true{{/electron_recoil}}{{^electron_recoil}}false{{/electron_recoil}};

                //! @todo bool for turning on or off the photon generation

                /* energy HiPass filter: accept only photons with energy higher than this value
                 */
                constexpr float_64 minEnergy = {{#min_energy}}{{{min_energy}}}{{/min_energy}}{{^min_energy}}sim.pic.getHbar<float_64>() / sim.pic.getDt<float_64>(){{/min_energy}};

                //! Parameters how to compute first synhrotron function
                struct FirstSynchrotronFunctionParams
                {
                  {{#first_synchrotron_function_params}}
                    /* log2(100.0), arbitrary cutoff, for 2nd kind cyclic
                     * bessel function -> function close enough to zero
                     */
                    static constexpr float_64 logEnd = {{{log_end}}};

                    /* number of sample points to use in
                     * integration in firstSynchrotronFunction
                     */
                    static constexpr uint32_t numberSamplePoints = {{{num_sample_points}}}u;
                  {{/first_synchrotron_function_params}}
                };

                /* parameters of precomputation of interpolation table -> the table
                 * "tableValuesF1F2" is in simulation/stage/SynchrotronRadiation.hpp
                 */
                struct InterpolationParams
                {
                  {{#interpolation_params}}
                    //! number of synchrotron function values to precompute and store in table
                    static constexpr uint64_t numberTableEntries = {{{number_table_entries}}};
                    //! in log2: -50 means minimum Zq that is still not 0 is 2^-50 ~ 10^-15
                    static constexpr float_64 minZqExponent = {{{min_Zq_exponent}}};
                    /* in log2: 10 means maximum Zq that is still not 0 is 2^10 ~ 10^+3.
                     * If set to larger value than 10: that can result in runtime error in precomputing cyclic bessel
                     * function
                     */
                    static constexpr float_64 maxZqExponent = {{{max_Zq_exponent}}};
                  {{/interpolation_params}}
                };

                /* supressRequirementWarning
                 * if true, the warning for the requirement 1 and 2 is suppressed
                 * maby speeds the simulation a little bit because there is no call to global memory
                 *
                 * this warning means that the propability of generating a photon is high for given dt (higher
                 * than 10%) this means that we generate photons possibly every timestep (numerical artefacts)
                 * and the radiation is underestimeted if propability is grater than 1. The timestep should be reduced.
                 */
                constexpr bool supressRequirementWarning = {{#supress_requirement_warning}}true{{/supress_requirement_warning}}{{^supress_requirement_warning}}false{{/supress_requirement_warning}};
                {{/synchrotron_params}}

            } // namespace params
        } // namespace synchrotron
    } // namespace particles
} // namespace picongpu
