# please set your project account
export proj="DD-23-157"

# Name and Path of this Script ############################### (DO NOT change!)
export PIC_PROFILE=$(cd $(dirname $BASH_SOURCE) && pwd)"/"$(basename $BASH_SOURCE)

if [ -z ${proj-} ]; then
    echo "WARNING: The 'proj' variable is not yet set in your $PIC_PROFILE file!"
    echo "Please edit its line 2 to continue!"
    return
fi

# User Information ################################# (edit the following lines)
#   - automatically add your name and contact to output file meta data
#   - send me a mail on batch system jobs: NONE, BEGIN, END, FAIL, REQUEUE, ALL,
#     TIME_LIMIT, TIME_LIMIT_90, TIME_LIMIT_80 and/or TIME_LIMIT_50
export MY_MAILNOTIFY="NONE"
export MY_MAIL="someone@host.com"
export MY_NAME="$(whoami) <$MY_MAIL>"

# Text Editor for Tools ###################################### (edit this line)
#   - examples: "nano", "vim", "emacs -nw", "vi" or without terminal: "gedit"
export EDITOR="vi"

# General modules #############################################################
#
module purge
module load OpenMPI/4.1.4-GCC-11.3.0-CUDA-11.7.0

# PIConGPU dependencies #################################################
#
spack env activate picongpu-env

# Environment #################################################################
#
export PICSRC=$HOME/src/picongpu
export PIC_EXAMPLES=$PICSRC/share/picongpu/examples
export PIC_BACKEND="cuda:80"
export SCRATCH="/scratch/project/${proj,,}/${USER}"

# Path to the required templates of the system,
# relative to the PIConGPU source code of the tool bin/pic-create.
export PIC_SYSTEM_TEMPLATE_PATH=${PIC_SYSTEM_TEMPLATE_PATH:-"etc/picongpu/karolina-it4i"}

export PATH=$PICSRC/bin:$PATH
export PATH=$PICSRC/src/tools/bin:$PATH

# python not included yet


# "tbg" default options #######################################################
#   - SLURM (sbatch)
#   - "qgpu" queue
export TBG_SUBMIT="sbatch"
export TBG_TPLFILE="etc/picongpu/karolina-it4i/gpu_a100.tpl"
export TBG_partition="qgpu"

# allocate resources for an interactive session (default: 2 hours)
#   getResource -n 2            # allocate 2 full nodes
#   getResource -d 4            # allocate 4 GPUs on a single node
#   getResource -d 1 pic-build  # allocate 1 GPU, run pic-build
function getResource() {
    local mode=""
    local count=1
    while getopts ":d:n:h" opt; do
        case $opt in
            d) count=${OPTARG:-1}; mode="device";;
            n) count=${OPTARG:-1}; mode="node";;
            h) echo "Usage: getResource [-d [num] | -n [num]] [command ...]"; return 0;;
            *) echo "Usage: getResource [-d [num] | -n [num]] [command ...]" >&2
               return 1;;
        esac
    done
    shift $((OPTIND - 1))

    if [ -z "$mode" ]; then
        echo "Usage: getResource [-d [num] | -n [num]] [command ...]" >&2
        return 1
    fi

    local slurm_common="--time=2:00:00 --exclusive -p $TBG_partition -A $proj"
    local srunArgs
    export OMP_NUM_THREADS=16

    if [ "$mode" = "node" ]; then
        srunArgs="--nodes=$count --ntasks=$((8 * count)) --ntasks-per-node=8 --cpus-per-task=1 --gpus-per-node=8 $slurm_common"
    else
        if [ "$count" -gt 8 ]; then
            echo "The maximal number of devices per node is 8." 1>&2
            return 1
        fi
        srunArgs="--nodes=1 --ntasks=$count --ntasks-per-node=$count --cpus-per-task=1 --gpus-per-task=1 $slurm_common"
    fi

    if [ $# -gt 0 ]; then
        srun $srunArgs "$@"
    else
        srun $srunArgs --pty bash
    fi
}


# Load autocompletion for PIConGPU commands
BASH_COMP_FILE=$PICSRC/bin/picongpu-completion.bash
if [ -f $BASH_COMP_FILE ] ; then
    source $BASH_COMP_FILE
else
    echo "bash completion file '$BASH_COMP_FILE' not found." >&2
fi
