# Copyright 2013-2021 Heiko Burau, Rene Widera, Felix Schmitt, Axel Huebl, Sergei Bastrakov
#
# This file is part of PIConGPU.
#
# PIConGPU is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# PIConGPU is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with PIConGPU.
# If not, see <http://www.gnu.org/licenses/>.
#

##
## This configuration file is used by PIConGPU's TBG tool to create a
## batch script for PIConGPU runs. For a detailed description of PIConGPU
## configuration files including all available variables, see
##
##                      docs/TBG_macros.cfg
##


#################################
## Section: Required Variables ##
#################################

TBG_wallTime="0:10:00"

# This setup does not need multiple MPI ranks for performance, merely to test that it works
TBG_devices_x=2
TBG_devices_y=2
TBG_devices_z=1

# When changing the number of cells consider changing positionX, positionY in FieldBackgroundJ::operator().
# To match the setup from the Taflove book, the size should be 40 + PML size min border + PML size max border.
TBG_numCells=60
TBG_gridSize="!TBG_numCells !TBG_numCells !TBG_numCells"
TBG_steps="1000"


#################################
## Section: Optional Variables ##
#################################

# file I/O with openPMD-HDF5
TBG_openPMD="--openPMD.period 100   \
             --openPMD.file simData \
             --openPMD.ext h5"

TBG_plugins="--fields_energy.period 10 !TBG_openPMD"


#################################
## Section: Program Parameters ##
#################################

TBG_deviceDist="!TBG_devices_x !TBG_devices_y !TBG_devices_z"

TBG_programParams="-d !TBG_deviceDist \
                   -g !TBG_gridSize   \
                   -s !TBG_steps      \
                   !TBG_plugins       \
                   --versionOnce"

# TOTAL number of devices
TBG_tasks="$(( TBG_devices_x * TBG_devices_y * TBG_devices_z ))"

"$TBG_cfgPath"/submitAction.sh
