export PICSRC=/home/`whoami`/src/picongpu

if [ -f /etc/profile.modules ]
then
        . /etc/profile.modules
        module purge
#       export MODULES_NO_OUTPUT=1

        # Core Dependencies
        module load gcc/4.8.2
        module load cmake/2.8.10
        module load openmpi/1.6.3
        module load boost/1.54.0
        module load cuda/6.5

        # Plugins (optional)
        module load pngwriter/0.5.4
        module load hdf5-parallel/1.8.11 libsplash/1.2.2

        # either use libSplash or ADIOS for file I/O
        #module load libmxml/2.8 filelib/adios/1.6.0

        # Debug Tools
        #module load valgrind/3.8.1
        #module load vampirtrace/5.14.4-GPU

#       unset MODULES_NO_OUTPUT
fi

alias getk20='qsub -I -q k20 -lwalltime=00:30:00 -lnodes=1:ppn=8'
alias getlaser='qsub -I -q laser -lwalltime=00:30:00 -lnodes=1:ppn=16'

export PATH=$PATH:$PICSRC/src/splash2txt/build
export PATH=$PATH:$PICSRC/src/tools/bin
