# SPDX-FileCopyrightText: Axel Huebl, Felix Schmitt, Klaus Steiniger
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

##
## This configuration file is used by PIConGPU's TBG tool to create a
## batch script for PIConGPU runs. For a detailed description of PIConGPU
## configuration files including all available variables, see
##
##                      docs/TBG_macros.cfg
##


#################################
## Section: Required Variables ##
#################################

TBG_wallTime="00:30:00"

TBG_devices_x=1
TBG_devices_y=2
TBG_devices_z=2

#Simulation volume
TBG_gridSize="240 544 448"

TBG_steps="1000"

# leave TBG_movingWindow empty to disable moving window
TBG_movingWindow=""

TBG_periodic="--periodic 1 1 1"

# Duplicate E and B field storage inside field background to improve performance at cost of additional memory
TBG_fieldBackground="--fieldBackground.duplicateFields"

#################################
## Section: Program Parameters ##
#################################

TBG_deviceDist="!TBG_devices_x !TBG_devices_y !TBG_devices_z"

TBG_programParams="-d !TBG_deviceDist \
                   -g !TBG_gridSize   \
                   -s !TBG_steps      \
                   !TBG_movingWindow  \
                   !TBG_periodic      \
                   !TBG_fieldBackground \
                   --percent 1        \
                   --versionOnce      \
                   --e_macroParticlesCount.period 500"

# TOTAL number of devices
TBG_tasks="$(( TBG_devices_x * TBG_devices_y * TBG_devices_z ))"

"$TBG_cfgPath"/submitAction.sh
