# Copyright 2013 Rene Widera
# 
# This file is part of PIConGPU. 
# 
# PIConGPU is free software: you can redistribute it and/or modify 
# it under the terms of the GNU General Public License as published by 
# the Free Software Foundation, either version 3 of the License, or 
# (at your option) any later version. 
# 
# PIConGPU is distributed in the hope that it will be useful, 
# but WITHOUT ANY WARRANTY; without even the implied warranty of 
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
# GNU General Public License for more details. 
# 
# You should have received a copy of the GNU General Public License 
# along with PIConGPU.  
# If not, see <http://www.gnu.org/licenses/>. 
# 

# Depending on your HPC system, the names of your modules may vary
# (see doc/INSTALL.md)
#
. /etc/profile.modules
module purge
module load compiler/gnu/64/opt/4.6.2
module load devel/cmake/2.8.2 devel/valgrind/3.8.1
module load tools/infiniband/2.0.0
module load mpi/openmpi/1.6.3
module load devel/boost/1.48.0
module load devel/cuda/5.0
module load filelib/hdf5/1.8.8

module load devel/vampirtrace/5.14.3

# PIConGPU needs this environment variables to find its libraries.
# Again, your paths may vary! (see doc/INSTALL.md)
#
export SPLASH_ROOT=$HOME/lib/splash
export PNGWRITER_ROOT=$HOME/lib/pngwriter
export BOOST_ROOT=/opt/pkg/devel/boost/1.48.0/
export MPI_ROOT=$MPIROOT

# Not all modules set the LD_LIBRARY_PATH right, thus we may have to do it.
#
export PATH=$PATH:$CUDA_ROOT/bin
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$CUDA_ROOT/lib64:$SPLASH_ROOT/lib:$CUDA_ROOT/extras/CUPTI/lib64:$CUDA_ROOT/extras/CUPTI/lib
	

