/* Copyright 2023-2024 Tapish Narwal
 *
 * This file is part of PIConGPU.
 *
 * PIConGPU is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PIConGPU is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PIConGPU.
 * If not, see <http://www.gnu.org/licenses/>.
 */

#pragma once

#include "picongpu/defines.hpp"
#include "picongpu/plugins/binning/binnerPlugin.hpp"

namespace picongpu::plugins::binning
{
  {{#output}}
  {{#typeID.binning}}
  {{#data}}
  inline void {{{binner_name}}}(BinningCreator& binningCreator)
  {
      auto speciesTuple = createSpeciesTuple(
          {{#species}}
          PMACC_CSTRING("{{{name}}}"){}{{^_last}},{{/_last}}
          {{/species}}
      );

      // Starting axes
      {{#axes}}
      auto axis_{{{axis_name}}} = axis::create{{{bin_spec.kind}}}(
        axis::AxisSplitting(
            axis::Range<{{{axis_functor.return_type}}}>{ {{{bin_spec.start}}}, {{{bin_spec.stop}}} },
            {{{bin_spec.nsteps}}},
            {{#use_overflow_bins}}true{{/use_overflow_bins}}{{^use_overflow_bins}}false{{/use_overflow_bins}}
        ),
        createFunctorDescription<{{{axis_functor.return_type}}}>(
            [] ALPAKA_FN_ACC(auto const& worker, auto const& domainInfo, auto const& particle) -> {{{axis_functor.return_type}}}
              {
                {{#axis_functor.functor_preamble}}
                {{{statement}}}
                {{/axis_functor.functor_preamble}}
                return {{{axis_functor.functor_expression}}};
              },
            "{{{axis_name}}}"
      {{#axis_functor.unit_dimension}}
            ,
      {{{axis_functor.unit_dimension}}}
      {{/axis_functor.unit_dimension}}
        )
      );
      {{/axes}}
      auto axisTuple = createTuple({{#axes}}axis_{{{axis_name}}}{{^_last}},{{/_last}}{{/axes}});

      // Starting deposition
      auto deposition = createFunctorDescription<{{{deposition_functor.return_type}}}>(
        [] ALPAKA_FN_ACC(auto const& worker, auto const& domainInfo, auto const& particle) -> {{{deposition_functor.return_type}}}
          {
            {{#deposition_functor.functor_preamble}}
            {{{statement}}}
            {{/deposition_functor.functor_preamble}}
            return {{{deposition_functor.functor_expression}}};
          },
          "{{{deposition_functor.name}}}"
    {{#deposition_functor.unit_dimension}}
    ,
    {{{deposition_functor.unit_dimension}}}
    {{/deposition_functor.unit_dimension}}
      );

      binningCreator.addParticleBinner(
          "{{{binner_name}}}",
          axisTuple,
          speciesTuple,
          deposition
      )
      .setNotifyPeriod("{{#period.specs}}{{{start}}}:{{{stop}}}:{{{step}}}{{^_last}},{{/_last}}{{/period.specs}}")
      {{#openPMD}}
      .setOpenPMDJsonCfg(R"({{{openPMD}}})")
      {{/openPMD}}
      {{#openPMDExtension}}
      .setOpenPMDExtension("{{{openPMDExtension}}}")
      {{/openPMDExtension}}
      {{#openPMDInfix}}
      .setOpenPMDInfix("{{{openPMDInfix}}}")
      {{/openPMDInfix}}
      .setDumpPeriod({{{dumpPeriod}}})
      ;
  }
  {{/data}}
  {{/typeID.binning}}
  {{/output}}

  inline void getBinning(BinningCreator& binningCreator)
  {
      {{#output}}
      {{#typeID.binning}}
      {{#data}}
      {{{binner_name}}}(binningCreator);
      {{/data}}
      {{/typeID.binning}}
      {{/output}}
  }
} // namespace picongpu::plugins::binning
