module purge

# General modules #############################################################
#
module load oscar-modules llview
module load cmake/3.3.1 git
module load cuda/6.5.14  # gcc 4.8, intel 14.0 == 2013-sp1
module load bullxmpi
module load gnuplot/4.6.1

# Compilers ###################################################################
### GCC
module load gcc/4.8.0 boost/1.55.0-gnu4.8
### ICC
#module load intel/2013-sp1 boost/1.57.0-intel2013-sp1
### PGI
#export BOOST_ROOT=$HOME/lib/boost_1_54_pgi_13_6
#export BOOST_INC=$BOOST_ROOT/include
#export BOOST_LIB=$BOOST_ROOT/lib
# must be set in `which <pgiDir>/bin/localrc`:
#   set NOSWITCHERROR=YES;
#module load pgi/14.1 boost/1.55.0-pgi14.1

# Other Software ##############################################################
#
module load hdf5/1.8.14
module load zlib/1.2.8

# Environment #################################################################
#
#export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$BOOST_LIB

export PNGWRITER_ROOT=$HOME/lib/pngwriter
export SPLASH_ROOT=$HOME/lib/splash

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$HOME/lib/pngwriter/lib/
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$HOME/lib/splash/lib/

export PICSRC=$HOME/src/picongpu
export PATH=$PATH:$PICSRC/src/tools/bin

# cmake work-around: avoids wrong linkage if system-wide
# libraries are available that shall not be used (hdf5, boost, ...)
#   see https://www.mail-archive.com/cmake@cmake.org/msg50018.html
unset LIBRARY_PATH

# "tbg" default options #######################################################
#   - SLURM (sbatch)
#   - "gpu" queue
export TBG_SUBMIT="sbatch"
export TBG_TPLFILE="submit/taurus/k20x_profile.tpl"
