/* front page: hide chapter titles
 * needed for consistent HTML-PDF-EPUB chapters
 */
#how-to-read-this-document.section div.section {
    display:none;
}

/* parameter files: only show short intro of title
 * and description in HTML.
 * Work-Around for https://github.com/michaeljones/breathe/issues/318
 */
div#pic-core.section > div > dl.type,
div#pic-core.section > div > div.breathe-sectiondef,
div#memory.section > div > dl.type,
div#memory.section > div > div.breathe-sectiondef,
div#pic-extensions.section > div > dl.type,
div#pic-extensions.section > div > div.breathe-sectiondef,
div#plugins.section > div > dl.type,
div#plugins.section > div > div.breathe-sectiondef,
div#misc.section > div > dl.type,
div#misc.section > div > div.breathe-sectiondef
{
    display: none;
}

/* fix for position of equation numbers
 * https://github.com/rtfd/sphinx_rtd_theme/issues/301
 */
.eqno {
    margin-left: 5px;
    float: right;
}
.math .headerlink {
    display: none;
    visibility: hidden;
}
.math:hover .headerlink {
    display: inline-block;
    visibility: visible;
    margin-right: -0.7em;
}
