#!/bin/bash
#
# Copyright 2013 René Widera
#
# This file is part of PIConGPU.
#
# PIConGPU is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# PIConGPU is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with PIConGPU.
# If not, see <http://www.gnu.org/licenses/>.
#

# variables which can used on submit time
#TBG_jobName
#TBG_tplFile
#TBG_cfgFile
#TBG_outDir

TBG_queue=workq
TBG_wallTime=23:53:00

TBG_nodes=1
TBG_CoresPerNode=4
TBG_GpusPerNode=4
#TBG_gpu_arch can be fermi or tesla
TBG_gpu_arch=tesla

TBG_BINARY=./gameOfLife

TBG_programParams=-d 2 2 -g 256 256 -s 200 --periodic 1 1  -r 23/3


TBG_mailSettings=bea
TBG_mailAdress=someone@example.com


# batch skript
#batch actions before batch tpl is running
srcCodeDir=`pwd`/../

# batch skript
#batch actions before batch tpl is running
srcCodeDir=`pwd`/../
submitAction=`pwd`/`dirname TBG_cfgFile`/submitAction.sh

cd TBG_outDir

. $submitAction
