export proj=<yourProject>

module unload intel
module swap PE-intel PE-gnu

module load python
module load python_setuptools
module load python_pip
module load python_virtualenv

module load python_numpy
module load python_h5py
module load python_scipy

# the place where ipython profiles are placed (default is ~/.ipython)
export IPYTHONDIR=$PROJWORK/$proj/ipython

# ADIOS
export ADIOS_ROOT=$PROJWORK/$proj/lib/adios-1.10.0-rhea
export LD_LIBRARY_PATH=$ADIOS_ROOT/lib:$LD_LIBRARY_PATH
export PATH=$ADIOS_ROOT/bin:$PATH

# GNU Parallel
export GNUP_ROOT=/lustre/atlas2/aph101/proj-shared/lib/gnu-parallel
export PATH=$GNUP_ROOT/bin:$PATH
export MANPATH=$GNUP_ROOT/share/man:$MANPATH

# load python virtual env
source $PROJWORK/$proj/python-venv/rhea/bin/activate

# for an initial setup ########################################################
#
# first install adios
#   LDFLAGS="-fPIC -pthread" CFLAGS="-fPIC -g -O2" CXXFLAGS="-fPIC -g -O2" \
#     ./configure --prefix=$PROJWORK/$proj/lib/adios-1.10.0-rhea \
#     --with-zlib --with-mpi --enable-static --enable-shared \
#     --without-dataspaces
#   make -j
#   make install
#
# if needed for post-processing, install gnu parallel (as xargs+ssh alternative)
#   ./configure --prefix=$PROJWORK/$proj/lib/gnu-parallel
#   make
#   make install
#
# now run for setting up the python virtual environment
#   mkdir -p $PROJWORK/$proj/python-venv
#   cd $PROJWORK/$proj/python-venv
#   virtualenv rhea
#   source $PROJWORK/$proj/python-venv/rhea/bin/activate
#   which pip
#
#   pip install --upgrade pip
#   pip install --upgrade wheel
#   pip install --upgrade numpy
#
#   pip install adios
#   pip install six
#   pip install matplotlib
#     # might need an backend change (to `Agg`) in
#     #   $PROJWORK/$proj/python-venv/rhea/lib/python2.7/site-packages/matplotlib/mpl-data/matplotlibrc
#   pip install mpld3
#   pip install "ipython[all]"
#   pip install mpi4py
#   pip install h5py
#   pip install lock_file
#   pip install psutil
#   pip install pyDive
#   pip install tifffile
#   pip install pillow  # PIL fork
#
# create IPython profile for cluster:
#   ipython profile create --parallel --profile=rhea
# edit files: $IPYTHONDIR/profile_rhea/ip*_config.py
#   as in http://ipython.org/ipython-doc/2/parallel/parallel_process.htm
