breathe
docutils
markupsafe
myst-parser
pygments
sphinx>=5.3
sphinxcontrib.programoutput
sphinxcontrib-napoleon>=0.7
sphinx-autoapi
sphinx_rtd_theme>=1.1.1
typeguard
# generate plots
matplotlib
scipy
numpy
