# Name and Path of this Script ############################### (DO NOT change!)
export PIC_PROFILE=$(cd $(dirname $BASH_SOURCE) && pwd)"/"$(basename $BASH_SOURCE)

# User Information ################################# (edit the following lines)
#   - automatically add your name and contact to output file meta data
#   - send me a mail on batch system jobs: NONE, BEGIN, END, FAIL, REQUEUE, ALL,
#     TIME_LIMIT, TIME_LIMIT_90, TIME_LIMIT_80 and/or TIME_LIMIT_50
export MY_MAILNOTIFY="NONE"
export MY_MAIL="someone@example.com"
export MY_NAME="$(whoami) <$MY_MAIL>"


# Project Information ######################################## (edit this line)
#   - project for allocation and shared directories
#   - use lumi-allocations to see all your projects
export PROJID=$(sacctmgr show assoc user=$USER format=Account%40 -n | grep project | head -n 1)
export PROJECT_DIR=/projappl/$PROJID/
export SCRATCH=/scratch/$PROJID/

# Job control
# Allocate more nodes then required to execute the jobs to be able to handle broken nodes
# Oversubscribe the nodes allocated by N per thousand required nodes.
export PIC_NODE_OVERSUBSCRIPTION_PT=2

# Text Editor for Tools ###################################### (edit this line)
#   - examples: "nano", "vim", "emacs -nw", "vi" or without terminal: "gedit"
#export EDITOR="vim"

# General modules #############################################################
#
# There are a lot of required modules already loaded when connecting
# such as mpi, libfabric and others.
# The following modules just add to these.
module --force purge

module load init-lumi/0.2
module load LUMI/25.03 partition/G
module load buildtools/25.03

export MPICH_GPU_SUPPORT_ENABLED=1
# Compiling with amdclang from rocm module
# Note, independent of the PrgEnv, all compilers are wrapped via cc (C-compiler) and CC (C++ compiler)
module load PrgEnv-amd
module load craype-accel-amd-gfx90a
module load rocm/6.3.4
module load Boost/1.88.0-cpeAMD-25.03
module load cray-hdf5-parallel/1.12.2.11

## set environment variables required for compiling and linking
##   see (https://docs.lumi-supercomputer.eu/development/compiling/prgenv/#using-the-wrappers-with-build-systems)
#
export CC=cc
export CXX=CC
export CXXFLAGS="$CXXFLAGS -I${MPICH_DIR}/include"
export HIPFLAGS=$CXXFLAGS

# Other Software ##############################################################
#
module load libpng/1.6.47-cpeAMD-25.03
module load freetype/2.13.3-cpeAMD-25.03
module load bzip2/1.0.8-cpeAMD-25.03
module load cray-python/3.11.7

# Self-Build Software #########################################################
# Optional, not required.
#
# needs to be compiled by the user
export PIC_LIBS=/projappl/$PROJID/workshop_software/local

export LD_LIBRARY_PATH=$PIC_LIBS/lib64:$PIC_LIBS/lib:$LD_LIBRARY_PATH
export PATH=$PIC_LIBS/bin:$PATH


# Environment #################################################################
#
export PICSRC=$HOME/src/picongpu
export PIC_EXAMPLES=$PICSRC/share/picongpu/examples
export PIC_BACKEND="hip:gfx90a"

# Path to the required templates of the system,
# relative to the PIConGPU source code of the tool bin/pic-create.
export PIC_SYSTEM_TEMPLATE_PATH=${PIC_SYSTEM_TEMPLATE_PATH:-"etc/picongpu/lumi-eurohpc"}

export PATH=$PICSRC/bin:$PATH
export PATH=$PICSRC/src/tools/bin:$PATH



# "tbg" default options #######################################################
#   - SLURM (sbatch)
#   - "caar" queue
export TBG_SUBMIT="sbatch"
export TBG_TPLFILE="etc/picongpu/lumi-eurohpc/standard-g.tpl"

# allocate resources for an interactive session (default: 1 hour)
#   getResource -n 2            # allocate 2 full nodes
#   getResource -d 2            # allocate 2 GPUs on a single node
#   getResource -d 1 pic-build  # allocate 1 GPU, run pic-build
function getResource() {
    local mode=""
    local device_mode=""
    local node_mode=""
    local count=1
    while getopts ":d:n:h" opt; do
        case $opt in
            d) count=${OPTARG:-1}; mode="device"; device_mode=1;;
            n) count=${OPTARG:-1}; mode="node"; node_mode=1;;
            h) echo "Usage: getResource [-d [num] | -n [num]] [command ...]"; return 0;;
            *) echo "Usage: getResource [-d [num] | -n [num]] [command ...]" >&2
               return 1;;
        esac
    done
    shift $((OPTIND - 1))

    if [ "$mode" = "device" ] && [ -n "$node_mode" ]; then
        echo "Error: cannot specify both -d and -n options" >&2
        echo "Usage: getResource [-d [num] | -n [num]] [command ...]" >&2
        return 1
    fi
    if [ "$mode" = "node" ] && [ -n "$device_mode" ]; then
        echo "Error: cannot specify both -d and -n options" >&2
        echo "Usage: getResource [-d [num] | -n [num]] [command ...]" >&2
        return 1
    fi

    if [ -z "$mode" ]; then
        echo "Usage: getResource [-d [num] | -n [num]] [command ...]" >&2
        return 1
    fi

    local slurm_common="--time=1:00:00 --cpus-per-task=7 --gpus-per-task=1 --mem-per-gpu=64000 -p dev-g -A $PROJID"
    local srunArgs

    if [ "$mode" = "node" ]; then
        srunArgs="--nodes=$count --ntasks=$((count * 8)) $slurm_common"
    else
        if [ "$count" -gt 8 ]; then
            echo "The maximal number of devices per node is 8." 1>&2
            return 1
        fi
        srunArgs="--nodes=1 --ntasks=${count} $slurm_common"
    fi

    if [ $# -gt 0 ]; then
        srun $srunArgs "$@"
    else
        srun $srunArgs --pty bash
    fi
}

# Load autocompletion for PIConGPU commands
BASH_COMP_FILE=$PICSRC/bin/picongpu-completion.bash
if [ -f $BASH_COMP_FILE ] ; then
    source $BASH_COMP_FILE
else
    echo "bash completion file '$BASH_COMP_FILE' not found." >&2
fi
