# SPDX-FileCopyrightText: Axel Huebl, Rene Widera, Felix Schmitt
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

##
## This configuration file is used by PIConGPU's TBG tool to create a
## batch script for PIConGPU runs. For a detailed description of PIConGPU
## configuration files including all available variables, see
##
##                      docs/TBG_macros.cfg
##


#################################
## Section: Required Variables ##
#################################

TBG_wallTime="1:00:00"

TBG_devices_x=2
TBG_devices_y=2
TBG_devices_z=2

# if you change the number of cells in X and Z direction the laser will not be centered in the middle
TBG_gridSize="192 2048 192"
TBG_steps="2048"

TBG_restartLoop="--checkpoint.restart.loop 10000"


#################################
## Section: Optional Variables ##
#################################

TBG_isaac="--isaac.period 1"

TBG_plugins="!TBG_isaac"

#################################
## Section: Program Parameters ##
#################################

TBG_deviceDist="!TBG_devices_x !TBG_devices_y !TBG_devices_z"

TBG_programParams="-d !TBG_deviceDist \
                   -g !TBG_gridSize   \
                   -s !TBG_steps      \
                   !TBG_restartLoop  \
                   !TBG_plugins      \
                   --versionOnce"

# TOTAL number of devices
TBG_tasks="$(( TBG_devices_x * TBG_devices_y * TBG_devices_z ))"

"$TBG_cfgPath"/submitAction.sh
